[user]
	name = Trevor Vallender
	email = tsv@tsv.me.uk
[core]
	autocrlf = input
	safecrlf = true
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p